
<nav class="navbar fixed-top navbar-dark bg-primary">
	<div class="navbar-wrapper">
		<a class="navbar-brand" href="index.html">
		<img style="float: right; margin: 0px 15px 15px 0p;  height: 50px; width: 100px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3c/JSW_Group_logo.svg/1200px-JSW_Group_logo.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
		</a>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  <div class="navbar-nav">
	    <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
	    <a class="nav-link" href="sapentry.html">Data Entry</a>
	    <a class="nav-link" href="planner.html">Unit Day Planner</a>
	    <a class="nav-link" href="DatabaseDisplay.html">View Database</a>
	    <a class="nav-link" href="calc.html">Deviation Report</a>
	    <a class="nav-link" href="#">More</a>
	  </div>
	</div>
</nav>